{% load static %} {% load staticfiles %}
<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<head>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link type="text/css" href="{% static 'css/style.css' %}" rel="stylesheet" media="screen,projection" />
    <link type="text/css" href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen,projection" />


    <link rel="icon" type="image/png" href="{% static 'css/imagen1.png' %}" />

</head>

<body>


    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">

                <a class="navbar-brand" rel="home" href="http://127.0.0.1:8000/">
                    <img style="max-width:100px; margin-top: -7px;" src="{% static 'css/pyramids.ico' %}">
                </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="http://127.0.0.1:8000/">Home</a></li>
                    <li><a href="http://127.0.0.1:8000/admin/">Admin</a></li>
                </ul>

            </div>

        </div>
    </div>


    <br>
    <br> {% block content %}{% endblock %}


</body>

</html>